<h1>How old are you?</h1>

<%= form_for @person, url: {controller: :age, action: :update} do |f| %>
  <% a = ANSWERS.fetch(:age) %>
  <label>
    <%= f.radio_button :age, a.fetch(:less_than_18) %>
    Less than eighteen
  </label><br />

  <label>
    <%= f.radio_button :age, a.fetch(:eighteen_to_35) %>
    18 to 35
  </label><br />

  <label>
    <%= f.radio_button :age, a.fetch(:thirtysix_to_55) %>
    36 to 55
  </label><br />

  <label>
    <%= f.radio_button :age, a.fetch(:over_55) %>
    over 55
  </label><br />

  <%= f.submit %>
<% end %>

