<h1>What is your marital status?</h1>

<%= form_for @person, url: {controller: :marital_status_question, action: :update} do |f| %>
  <% m = ANSWERS.fetch(:marital_status) %>

  <%= f.radio_button :marital_status, m.fetch(:married) %> <%= f.label :marital_status_married, "Married" %> <br />
  <%= f.radio_button :marital_status, m.fetch(:single) %> <%= f.label :marital_status_single, "Single" %> <br />
  <%= f.submit %>
<% end %>

