<h1>What is your income?</h1>

<%= step_form @form_object do |f| %>
  <% i = ANSWERS.fetch(:income) %>
  <%= f.radio_button :income, i.fetch(:low) %> <%= f.label :income_low, "Low" %> <br />
  <%= f.radio_button :income, i.fetch(:high) %> <%= f.label :income_high, "High" %> <br />
  <%= f.submit %>
<% end %>

